/* 先套用 CSS Reset 消除預設樣式 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 漢堡選單 */
/* hamburger */
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #fff;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* 自訂樣式 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

/* navbar的程式碼 */
.navbar {
  background-color: #094697;
  position: fixed;
  /* top:0;相對於網頁頂端的距離 */
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.logo:hover {
  color: #D5E5FE;
}

.bar {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.bar a {
  padding: 12px;
  color: #faf7f7;
  position: relative;
}

.bar a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 0;
  height: 2px;
  background-color: #faf7f7;
  transition: all 0.3s;
}

.bar a:hover::after {
  width: calc(100% - 16px);
}

.navbar-toggler-icon {
  color: #fff;
}

/*表頭大合照*/
.all_picture {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;
  text-align: center;
  color: #FFFFFF;
  padding: 23px;
}

.all_picture::after {
  display: block;
  z-index: 1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #EAF2FF;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.picture {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.表頭文字 h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.表頭文字 p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.領取NFT {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  padding: 12px 24px;
  background-color: #094697;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  text-decoration: none;
}

.領取NFT:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2F80ED;
}

/*活動紀錄*/
.Activity {
  background-color: #EAF2FF;
  padding-bottom: 10px;
  padding-top: 50px;
}

.活動紀錄文字 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #000
}

.Activity_block {
  position: relative;
}

.Activity_block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px solid #094697;
  height: calc(100% - 44px);
  display: block;
}

.Activity_block li {
  margin-bottom: 58px;
}

.Activity_block h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-top: -8px;
}

.activity_reverse {
  flex-direction: row-reverse;
}

.activity_reverse .date {
  text-align: left;
}

.activity_reverse .date p::before {
  left: -24px;
  right: 0;
}

.activity_reverse .info {
  text-align: right;
}

.date {
  text-align: right;
}

.date p {
  font-size: 24px;
  font-weight: 700;
  padding: 0 8px;
  margin-top: -8px;
  color: #094697;
  position: relative;
  display: inline-block;
}

.date p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -22px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(0, 50%);
  background-color: #094697;
}

.Activity_block .image {
  position: relative;
  max-width: 500px;
  margin-left: 8px;
  margin-right: 0;
}

.Activity_block img {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.Activity_block .image::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  background-color: #094697;
}

.activity_reverse .image {
  margin-left: auto;
  margin-right: 20px;
}

.triango {
  width: 100%;
  height: 50px;
  background-color: #EAF2FF;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

/*各組介紹*/
.group_intro {
  margin: 0 12px;
}

.各組介紹文字 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #060606
}

.group_style {
  margin: 0 auto 40px;
  max-width: 520px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #094697;
  position: relative;
}

.group_style img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.group_style::before {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  background-color: #094697;
}

.group_style::after {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 10px;
  background-color: #094697;
}

.MKT::before {
  content: "MKT";
}

.BD::before {
  content: "BD";
}

.PM::before {
  content: "PM";
}

.UIUX::before {
  content: "UIUX";
}

.Data::before {
  content: "Data";
}

.CSR::before {
  content: "CSR";
}

.Web3::before {
  content: "Web3";
}

/*team的程式碼*/
.team_triangle {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #094697;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.team {
  padding: 30px 0 30px;
  background-color: #094697;
}

.team .container {
  max-width: 960px;
}

.team li {
  margin-bottom: 40px;
}

.製作團隊文字 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #f9f7f7
}

.team p {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 16px;
}

.team img {
  margin: 0 auto;
}

/*footer的程式碼*/
.footer {
  padding: 20px 16px;
  background-color: #094697;
  color: #FFFFFF;
  text-align: center;
}

@media(max-width: 992px) {
  .Activity_block::after {
    top: 3px;
    left: 0%;
    height: calc(100% - 56px);
  }

  .all_picture h1 {
    font-size: 36px;
  }

  .Activity_block h3 {
    text-align: left;
    margin-bottom: 8px;
  }

  .Activity_block li {
    padding-left: 20px;
    margin-bottom: 50px;
  }

  .Activity_block h3 {
    padding: 0;
  }

  .date {
    text-align: left;
  }

  .date p {
    margin-bottom: 4px;
    font-size: 16px;
    padding: 0;
  }

  .date p::before {
    top: 3px;
    left: -21px;
    right: 0;
    transform: translate(-50%, 0);
  }

  .activity_reverse .date p::before {
    left: -21px;
  }

  .Activity_block .image {
    margin-left: 0;
    max-width: 100%;
  }

  .activity_reverse .image {
    margin-left: 0;
    margin-right: 0;
  }

  .bar a::after {
    left: 0;
  }

  .bar a:hover::after {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .Activity_block::after {
    top: 12px;
    left: 0%;
    height: calc(100% - 56px);
  }

  .all_picture {
    height: 450px;
  }

  .group_style img {
    height: 200px;
  }

  .表頭文字 p {
    font-size: 14px;
  }

  .all_picture::after {
    height: 30px;
  }

  .triango {
    height: 30px;
  }

  .all_picture h1,
  .各組介紹文字,
  .活動紀錄文字 {
    font-size: 24px;
  }

  .Activity {
    padding: 30px 12px 10px;
  }

  .活動紀錄文字 {
    margin-bottom: 20px;
  }

  .date p {
    font-size: 14px;
  }

  .Activity_block h3 {
    font-size: 20px;
  }

  .Activity_block li {
    margin-bottom: 30px;
  }

  .Activity_block .image::before {
    left: 5px;
    top: 5px;
  }

  .date p::before {
    top: 4px;
    width: 12px;
    height: 12px;
  }

  .各組介紹文字 {
    margin-bottom: 20px;
  }

  .製作團隊文字 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .group_style {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .group_style::before {
    font-size: 24px;
  }

  .group_style::after {
    left: 5px;
    top: 5px;
  }

  .team_triangle {
    height: 30px;
  }

  .team {
    padding: 30px 12px 10px;
  }

  .team img {
    width: 100px;
    height: 100px;
  }

  .team p {
    margin-top: 8px;
  }

  .team li {
    margin-bottom: 20px;
  }

  .footer {
    font-size: 12px;
    padding: 12px;
  }
}